#cover {
	color: #fff;
}

#about-me {
		background-color: #34495e;
		color: #e4e6e5;
	}
	blockquote.news {
		background-color: rgba(47, 47, 47, 0.5);
		#2f2f2f
	}

#projects {
		background-color: #000;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	#projects .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}
	#projects .col-12 {
		display: inline-block;
		height: 451px;
		margin: 0;
		padding: 0;
		width: 452px;
	}
	#projects a,
	#projects img {
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		width: 100%;
	}

#skills {
		color: #e4e6e5;
	}
	.table-striped>#github-activity-body>tr:nth-of-type(odd) {
		background-color: #2f2f2f;
		color: #000;
	}
	

#education {
		color: #e4e6e5;
		background-color: #1D4F3F;
	}

#work {
		background-color: #B06903;
	}
	#work .line-row .hr {
		background-color: #222;
		color: #222;
	}

#contact {
		background-color: #2f2f2f;
		color: #e4e6e5;
		padding-bottom: 350px;
		padding-top: 90px;
		text-align: center;
	}
	#contact .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}
	#contact a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
	.link {
		display: inline-block;
		padding: 50px;	
	}
	.link p a i {
		font-size: 500%;
	}


.large {
	font-size: x-large;
}

.big {
	font-size: large;
}

.nav li a i.fa {
	padding-right: 3px;
}

.title-row {
	font-size: 45px;
	padding-bottom: 50px;
}

.line-row .hr {
	background-color: #e4e6e5;
	height: 5px;
	margin: 0 auto;
	width: 33%;
}

.subtitle-row {
	font-size: 35px;
	padding-bottom: 40px;
	padding-top: 40px;
}

.content-row {
	padding-top: 45px;
}