#cover {
	color: #fff;
}

.shield {
		background-repeat: no-repeat;
		width: 75px;
		height: 75px;
		background-position-x: 50%;
		background-position-y: 50%;
		margin: 0 auto;
		font-weight: bolder;
		font-size: 35px;
		line-height: 75px;
		text-shadow: 2px 2px #000;
	}

	.red.shield {
		background-image: url('../munter/images/red.png');
	}

	.blue.shield {
		background-image: url('../munter/images/blue.png');
	}

	.yellow.shield {
		background-image: url('../munter/images/yellow.png');
	}

#about-me {
		background-color: #34495e;
		color: #e4e6e5;
	}
	blockquote.news {
		background-color: rgba(47, 47, 47, 0.5);
		#2f2f2f
	}

#projects {
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		text-align: left;
		width: 100%;
		color: #e4e6e5;
}

div.project {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 40px;
}

.project img {
	height: 200px;
}

#projects .col-lg-3,
#projects .col-xs-12,
#projects .col-sm-6 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
	#projects .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	
		text-align: center;
}

.row {}
	#projects .col-12 {
		display: inline-block;
		height: 451px;
		margin: 0;
		padding: 0;
	}
	#projects a,
	#projects img {
		display: inline-block;
		height: inherit;
		margin: 0 auto;
		width: 100%;
	}
	.project h3,
	.project figcaption {
		display: none;
	}
	.modal-body img {
		width: 100%;
	}

#skills {
		color: #e4e6e5;
	
		background-color: #000;
}
	.table-striped>#github-activity-body>tr:nth-of-type(odd) {
		background-color: #2f2f2f;
		color: #000;
	}
	

#education {
		color: #e4e6e5;
	}

#work {
		background-color: #1D4F3F;
	
		color: #e4e6e5;
}

#contact {
		background-color: #2f2f2f;
		color: #e4e6e5;
		padding-bottom: 150px;
		padding-top: 90px;
		text-align: center;
	}
	#contact .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}
	#contact a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
	.link {
		display: inline-block;
		padding: 50px;	
		overflow: hidden;
	}
	.links .social {
		width: 24%; /* Has to be 19 because on 20, it rounds over */
		display: inline-block;
	}
	.links .social p a i {
		font-size: 1000%;
		padding-top: 50px;	
		overflow: hidden;
	}
	.social:hover {
		color: #FFF;
	}

.modal {
		position: fixed !important;
	}
	.modal-footer a {
		color: #474949;
		vertical-align: middle;
		float: left;
		margin: 0 10px;
	}
	.modal-footer a i {
		font-size: 300%;
	}
	.modal-footer a i:hover {
		color: #676969;
	}
	.modal-body img {
		padding-bottom: 15px;
	}
	.modal-body {
		font-weight: 400;
	}

/* Common styles */
.nav li a i.fa { /* Icons next to nav bar links */
	padding-right: 3px;
}

.title-row {
	font-size: 40px;
	padding-bottom: 35px;
	padding-top: 20px;
}

.subtitle-row {
	font-size: 30px;
	padding-bottom: 20px;
}

.content-row {
	padding-top: 45px;
}

.line-row .hr {
		background-color: #e4e6e5;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	.hr {
		width: 50%;
		margin: 0 auto;
		background-color: #e4e6e5;
		height: 5px;
		margin-bottom: 15px;
	}

/* Font Sizing Syles */
.xlarge {
	font-size: 250%;
}

.large {
	font-size: 200%;
}

.big {
	font-size: 150%;
}

.small {
	font-size: 75%;
}

.xsmall {
	font-size: 50%;
}

/* Mobile styles */
@media (max-width: 767px) {
	/* Change navbar font color so it's visible */
	.navbar .nav a {
		color: #5f5f5f;
	}

	/* decreasing spacing between cover hexagons */
	#home-row-2 div {
		height: 125px;
	}

	#home-row-2 .col-12 .home-hover {
		height: 100px;
	}

	.home-hover.navigation-slide {
		height: 75px;
	}


	/* Decrease vertical spacing btwn projects */
	.row .project {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/* Adjust social media links so they are not squashed */ 
	.links .social {
		display: block;
		width: 140px;
		margin: 0 auto;
		padding-top: 0px;
	}
	.social span .on-hover {
		margin: 0 autp;
	}
}