#cover {
	color: #fff;
}

#about-me {
		background-color: #34495e;
		color: #e4e6e5;
	}
	blockquote.news {
		background-color: rgba(47, 47, 47, 0.5);
		#2f2f2f
	}

#projects {
		background-color: #000;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		text-align: left;
		width: 100%;
	
		/* padding: 0 !important; */
}

.project img {
    height: 200px;
}

#projects .col-lg-3,
#projects .col-xs-12,
#projects .col-sm-6 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
	#projects .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}
	#projects .col-12 {
		display: inline-block;
		height: 451px;
		margin: 0;
		padding: 0;
	}
	#projects a,
	#projects img {
		display: inline-block;
		height: 500px;
		margin: 0 auto;
		width: 100%;
	}
	.project h3,
	.project figcaption {
		display: none;
	}
	.modal-body img {
		width: 100%;
	}

#skills {
		color: #e4e6e5;
	}
	.table-striped>#github-activity-body>tr:nth-of-type(odd) {
		background-color: #2f2f2f;
		color: #000;
	}
	

#education {
		color: #e4e6e5;
		background-color: #1D4F3F;
	}

#work {
		background-color: #B06903;
	}
	#work .container .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

#contact {
		background-color: #2f2f2f;
		color: #e4e6e5;
		padding-bottom: 350px;
		padding-top: 90px;
		text-align: center;
	}
	#contact .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}
	#contact a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
	.link {
		display: inline-block;
		padding: 50px;	
		overflow: hidden;
	}
	.links .social {
		width: 24%; /* Has to be 19 because on 20, it rounds over */
		display: inline-block;
	}
	.links .social p a i {
		font-size: 1000%;
		padding-top: 50px;	
		overflow: hidden;
	}
	.social:hover {
		color: #FFF;
	}

.modal {
		position: fixed !important;
	}
	.modal-footer a {
		color: #474949;
		vertical-align: middle;
		float: left;
		margin: 0 10px;
	}
	.modal-footer a i {
		font-size: 300%;
	}
	.modal-footer a i:hover {
		color: #676969;
	}

.xlarge {
	font-size: 250%;
}

.large {
	font-size: 200%;
}

.big {
	font-size: 150%;
}

.small {
	font-size: 75%;
}

.xsmall {
	font-size: 50%;
}

.nav li a i.fa {
	padding-right: 3px;
}

.title-row {
	font-size: 40px;
	padding-bottom: 35px;
	padding-top: 20px;
}

.line-row .hr {
	background-color: #e4e6e5;
	height: 5px;
	margin: 0 auto;
	width: 33%;
}

.subtitle-row {
	font-size: 30px;
	padding-bottom: 20px;
}

.content-row {
	padding-top: 45px;
}

.hr {
    width: 50%;
    margin: 0 auto;
    background-color: #e4e6e5;
    height: 5px;
    margin-bottom: 15px;
}